*{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
}

.profile{
    position: sticky;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 5rem;
    border: 2px solid black;
    margin: 1rem;
    padding: 0.5rem;
    z-index: 1;
}

.copyright{
    position: fixed;
    color: blue;
    right: 0;
    top: 0.7rem;
    font-size: 1.6rem;
}
.image{
    width: 5rem;
    height:5rem;
    background-image: url(https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL3JtNjA5LXNvbGlkaWNvbi13LTAwMi1wLnBuZw.png);
    background-size: cover;
    position: absolute;
    left: 5rem;
}

.profile-header{
    width: 60%;
    position: absolute;
    left: 20vw;
    font-size: 1.8rem;
    top: 1.5rem;
}

#divcontainer{
    position: relative;
    top:60vh;
    left:2vw;
}

#divcontainer div{
    width: 15rem;
    height: 10rem;
    background-color: aqua;
    margin: 1rem;
}

.image1{
    height: 50vh;
    width: 40vw;
    background-image: url(https://media.sportstiger.com/media/1661343661343.jpg);
    background-size: cover;
}

.aboutme{
    position: relative;
}

.imagecontainer{
    box-sizing: border-box;
    width: 50%;
    position: absolute;
    left: 3vw;
}

.aboutme .content{
    box-sizing: content-box;
    width: 50%;
    position: absolute;
    left:45vw;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5vw;
}

.test-sudo-selectors{
    position: relative;
    top:55vh;
    left:2vw;
    font-size: 1.5rem;
}

.heading h1 ~ p{
    color: blueviolet;
}
.heading h1 + p{
    color: red;
}

.links >a:hover{
    font-size: 2rem;
    color:aqua
}
.links > a:link{
    color:black;
}

.links >a:active{
    color: azure;
}

.links{
    font-size: 1.5rem;
}

.moreimages{
    position: relative;
    left: 2vw;
    top:60vh;
}

.moreimages img{
    width: 25vw;
    height: 25vh;
    padding: 2rem;
}
