*{
    padding: 0;
    margin: 0;
}

.main-container{
    padding: 1rem;
    .heading{
        font-size: 3rem;
        padding: 1rem;
        text-align: center;
        border: 2px solid black;
    }

    .search-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        font-size: 2rem;
        #search-bar{
            width: 80%;
            font-size: 1.5rem;
            padding: 1rem;
        }

        #search{
            width: 10%;
            font-size: 1.5rem;
            padding: 1rem;
        }
    }

    .items-container{
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        .item-div{
            position: relative;
            border: 2px solid black;
            padding: 1rem;
            border-radius: 2rem;
            margin: 3rem;
            width: 25%;
            margin-bottom: 2rem;

            .rating{
                background-color: red;
                padding: 1rem;
                border-radius: 3rem;
                position: absolute;
                right: -2vh;
                top: -2vh;
                font-size: 1.5rem;
            }

            .image-container{
                text-align: center;
                img{
                    width: 100%;
                    height: 45%;   
                }
            }

            .food-item-name{
                font-size: 1.5rem;
                text-align: center;
                padding: 0.2rem;
                border: 2px solid black;
                margin: 0.5rem;
            }

            .ingredients{
                font-size: 1.5rem;
                text-align: center;
                padding: 0.2rem;
                border: 2px solid black;
                margin: 0.5rem;
            }

            .cuisine-difficulty{    
                display: flex;
                font-size: 1.5rem;
                margin: 0.5rem;
                justify-content: space-between;
                .cuisine{
                    width: 45%;
                    font-size: 1.5rem;
                    text-align: center;
                    padding: 0.2rem;
                    border: 2px solid black;
                    margin-right: 0.5rem;
                }
                .difficulty{
                    width: 45%;
                    font-size: 1.5rem;
                    text-align: center;
                    padding: 0.2rem;
                    border: 2px solid black;
                }
            }

            .time-taken-x-calories{
                    display: flex;
                    font-size: 1.5rem;
                    margin: 0.5rem;
                    justify-content: space-between;
                .time-taken{
                    width: 45%;
                    font-size: 1.5rem;
                    text-align: center;
                    padding: 0.2rem;
                    border: 2px solid black;
                    margin-right: 0.5rem;
                }
                .calories{
                    width: 45%;
                    font-size: 1.5rem;
                    text-align: center;
                    padding: 0.2rem;
                    border: 2px solid black;
                }
            }
        }
    }
}